<body style="background-color:black;">

    {% if user.is_authenticated and user.is_normal%}
    <a href="/myblogs" style="color:gold;">GoBack</a>
    <br />
    <br />
    <br />
   
    {%for blog in myblogs%}
    <strong style="color:white;font-size:10px;">{{blog.created_at}}</strong>
    <u><h1 style="color:red;font-size:40px;">{{blog.title}}</h1></u>
    <h1 style="color:orange;font-size:20px;">{{blog.subject}}</h1>
    <p4 style="color:white;font-size:15px;">{{blog.text}}</p4>


    {% endfor %}

    {% else %}

    {%for blog in myblogs%}
    <strong style="color:white;font-size:10px;">{{blog.created_at}}</strong><br />
    <u>
        <h1 style="        color: red;
        font-size: 40px;">
            {{blog.title}}
        </h1>
    </u>
    <h1 style="color:orange;font-size:20px;">{{blog.subject}}</h1>
    <p4 style="color:white;font-size:15px;">{{blog.text}}</p4>


    {% endfor %}
    {% endif%}
</body>